body {
    height:100vh;
    background-color: gainsboro;
}

h3 {
    text-align: center;
}

.jumbotron {
    align-content: center;
}

/* .row {
    display: flex;
    flex-flow: column-reverse;
} */

.breed,
.category {
    position: relative;
    text-align: center;
}

img {
    width: 350px;
    height: 350px;
    margin: 10px 0 0 100px;
}


