html {
    background-color: gainsboro;
}

h3 {
    text-align: center;
}

.jumbotron {
    align-content: center;
    margin: 30px;
    padding: 5px 20px 1px 20px;
    border-radius: 5px;
}

.breed,
.category,
.previousImage {
    position: relative;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* media queries*/
@media screen and (max-width: 980px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 600px) {
    h1 {
        text-align: center;
    }

    .breed,
    .category {
        justify-content: center;
        margin: auto;
        display: flex;
    }

    #switch {
        display: flex;
        flex-direction: column;
    }

    #breed-div {
        order: 1;
    }

    #category-div {
        order: 2;
    }

    #img-div {
        order: 3;
    }
}

