body {
    height:100vh;
    background-color: gainsboro;
}

h3 {
    text-align: center;
}

.jumbotron {
    align-content: center;
    margin: 30px;
    padding: 5px 20px 1px 20px;
    border-radius: 5px;
}

/* .row {
    display: flex;
    flex-flow: column-reverse;
} */

.breed,
.category {
    position: relative;
    text-align: center;
}

img {
    width: 350px;
    height: 350px;
    margin: 10px 0 0 100px;
}

/* media queries*/
@media screen and (max-width: 768px) {
 
}

@media screen and (max-width: 575px) {
    h1 {
        text-align: center;
    }

    .breed,
    .category {
        justify-content: center;
        margin: auto;
        display: flex;
    }
   
    
    
}

